name: Publish to pub.dev

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # Required for authentication using OIDC
    # uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
    # we'd prefer the reusable workflow, but
    # but it is broken for flutter packages: https://github.com/dart-lang/setup-dart/issues/68
    # uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Check flutter version
        run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - uses: dart-lang/setup-dart@v1

      - name: Publish - dry run
        run: flutter pub publish --dry-run

      - name: Publish to pub.dev
        run: flutter pub publish -f
