name: Test and Lint

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - "*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Build, Lint and Test the SDK
    runs-on: macos-26
    steps:
      - name: Repository checkout
        uses: actions/checkout@v5
      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "26.1.1"
      - name: Install Cocoapods
        run: gem install cocoapods
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Configure JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
      - name: Install dependencies
        run: flutter pub get
      - name: Build
        run: |
          cd example
          flutter build ios --release --no-codesign
          flutter build macos
          flutter build apk
      - name: Lint
        run: make checklint
      - name: Test
        run: make test-all
