name: Test and Lint

on:
    push:
        branches: [main]
    pull_request:
        branches:
            - "*"

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    lint:
        name: Lint Code
        runs-on: ubuntu-latest
        steps:
            - name: Repository checkout
              uses: actions/checkout@v5
            - name: Setup Flutter
              uses: subosito/flutter-action@v2
            - name: Lint
              run: make checklint

    test:
        name: Test Flutter SDK for TelemetryDeck
        runs-on: macos-26
        steps:
            - name: Repository checkout
              uses: actions/checkout@v5
            - name: Setup Xcode
              uses: maxim-lobanov/setup-xcode@v1
              with:
                  xcode-version: "26.1.1"
            - name: Setup Flutter
              uses: subosito/flutter-action@v2
            - name: Configure JDK
              uses: actions/setup-java@v4
              with:
                  distribution: "temurin"
                  java-version: "17"
            - name: Install dependencies
              run: flutter pub get
            - name: Run all tests
              run: make test-all
